{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
<div>
    <button type="submit" class="btn btn-primary" style="float: left;"> Guardar</button>

    <a class="btn btn-danger" style="float: right" href="{{ path('app_bizum_index') }}"> Cancelar</a>
</div>
{{ form_end(form) }}
