<form method="post" action="{{ path('app_transferencia_bancaria_delete', {'id': transferencia_bancarium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transferencia_bancarium.id) }}">
    <button class="btn">Delete</button>
</form>
