{% extends 'base.html.twig' %}

{% block title %}Editar Transferencia Bancaria{% endblock %}

{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
                <h3>Editar Transferencia Bancaria</h3>
                <br>
                {{ include('transferencia_bancaria/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
