{% extends 'base.html.twig' %}

{% block title %}Ranking de Usuarios{% endblock %}

{% block page %}
    <div class="content-wrapper" style="min-height: 256px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <section class="content card">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card-body">
                            <p>Ranking de Usuarios</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
