<div id="modalAddAmortizacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default"
     aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #303132">
                <h6 class="modal-title text-uppercase text-white" id="modal-title-default">AGREGAR AMORTIZACIÓN </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {# Costo de Producción #}
                <div class="col-12">
                    <div class="form-group">
                        <label for="costo"></label><input type="text" class="form-control"
                                                          placeholder="Teclee el costo de producción"
                                                          id="costo"
                                                          name="costo">
                    </div>
                </div>
                {# Precio de Venta #}
                <div class="col-12">
                    <div class="form-group">
                        <label for="precio"></label><input type="text" class="form-control"
                                                           placeholder="Teclee el precio"
                                                           id="precio"
                                                           name="precio">
                    </div>
                </div>
                {# Beneficiado #}
                <div class="col-12" style="margin-top: 30px">
                    <div class="form-group">
                        <h5 class="card-title text-center" style="margin-left: 20px">
                            Beneficiado
                        </h5>
                        <label>
                            <input style="margin-left: 20px" type="radio" name="beneficiado"
                                   value="0" checked>
                        </label>
                        <label for="beneficiado">Administrador</label>

                        <label>
                            <input style="margin-left: 20px" type="radio"
                                   name="beneficiado"
                                   value="1">
                        </label>
                        <label for="beneficiado">Usuario</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm text-white" style="background-color: #303132"
                        id="btnAddGuardar">Guardar
                </button>
                <button type="button" class="btn btn-link  text-dark ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
