<div id="modalEditBeneficio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default"
     aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #303132">
                <h6 class="modalTitle text-uppercase text-white" id="modalTitle">MODIFICAR BENEFICIO</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <label for="addBeneficio" id="labelAddRoyaltieIngreso">Beneficio</label>
                    <input type="text" class="form-control"
                           placeholder="Teclee el beneficio" id="addBeneficio"
                           name="addBeneficio">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm text-white" style="background-color: #303132"
                        id="btnGuardarBeneficio">Guardar
                </button>
                <button type="button" class="btn btn-link  text-dark ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
