<form method="post" action="{{ path('app_empresa_delete', {'id': empresa.id}) }}" onsubmit="return confirm('Está seguro que desea borrar esta empresa?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empresa.id) }}">
    <button class="btn">Delete</button>
</form>
