<div id="modalEditDireccion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default"
     aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #303132">
                <h6 class="modal-title text-uppercase text-white" id="modal-title-default">MODIFICAR DIRECCIÓN DE RECOGIDA</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nombreEdit"></label><input type="text" class="form-control"
                                                               placeholder="Teclee el nombre"
                                                               id="nombreEdit"
                                                               name="nombreEdit">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="telefonoEdit"></label><input type="text" class="form-control"
                                                                 placeholder="Teclee el teléfono"
                                                                 id="telefonoEdit"
                                                                 name="telefonoEdit">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="direccionEdit"></label><input type="text" class="form-control"
                                                                  placeholder="Teclee la dirección"
                                                                  id="direccionEdit"
                                                                  name="direccionEdit">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="codigoPostalEdit"></label><input type="text" class="form-control"
                                                                     placeholder="Teclee el código postal"
                                                                     id="codigoPostalEdit"
                                                                     name="codigoPostalEdit">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="poblacionEdit"></label><input type="text" class="form-control"
                                                                  placeholder="Teclee la población"
                                                                  id="poblacionEdit"
                                                                  name="poblacionEdit">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="provinciaEdit"></label><input type="text" class="form-control"
                                                                  placeholder="Teclee la provincia"
                                                                  id="provinciaEdit"
                                                                  name="provinciaEdit">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="paisEdit"></label><input type="text" class="form-control"
                                                             placeholder="Teclee el país"
                                                             id="paisEdit"
                                                             name="paisEdit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm text-white" style="background-color: #303132"
                        id="btnEditGuardar">Guardar
                </button>
                <button type="button" class="btn btn-link  text-dark ml-auto" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
